<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-2 p-4 w-full md:w-full md:gap-4">
    <label for="username" class="text-left font-semibold text-slate-500"
      >N° de identidad</label
    >
    <input
      [formControlName]="'username'"
      class="border border-gob-500 p-2 rounded-lg border-solid w-full outline-none focus:ring-2 focus:ring-gob-100"
      placeholder="0801200012345"
      [ngClass]="{
        'ng-invalid ng-dirty focus:ring-transparent focus:ring-red-500 focus: focus:ring-2':
          isEmptyEmail || isInvalidEmailFormat
      }"
    />
    <small
      class="block text-red-500 font-bold text-sm"
      *ngIf="isInvalidEmailFormat"
      >*La identidad debe contener exactamente 13 caracteres numéricos.</small
    >
    <small class="block text-red-500 font-bold text-sm" *ngIf="isEmptyEmail"
      >*Se debe especificar el número de identidad.</small
    >

    <label for="password" class="text-left text-slate-500 font-semibold"
      >Contraseña</label
    >

    <div class="relative">
      <input
        [formControlName]="'password'"
        [type]="showPassword ? 'text' : 'password'"
        class="border border-gob-500 p-2 rounded-lg border-solid w-full outline-none focus:ring-2 focus:ring-gob-100"
        [ngClass]="{
          'ng-invalid ng-dirty focus:ring-transparent focus:ring-red-500 focus:border- focus:ring-2':
            isEmptyPassword
        }"
        placeholder="••••••••"
      />
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="text-gob-500 absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
      >
        <i [class]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
      </button>
    </div>
    <small class="block text-red-500 font-bold text-sm" *ngIf="isEmptyPassword"
      >*Se debe especificar la contraseña.</small
    >

    <p-button
      label="Iniciar Sesión"
      styleClass="border border-gob-500 p-2 rounded-lg border-solid w-full mt-2 bg-gob-500 text-white hover:outline-none hover:bg-gob-600 "
      type="submit"
      [loading]="isLoading"
      [disabled]="loginForm.invalid"
    />
  </div>
</form>
