<div class="flex flex-col h-full">
  <nav
    class="flex justify-around items-center fixed bottom-0 left-0 right-0 bg-white shadow-[0_-2px_10px_rgba(0,0,0,0.1)] py-2"
  >
    <a
      routerLink="/home/kit-detail"
      routerLinkActive="text-gob-500"
      class="flex flex-col items-center text-gray-500 no-underline px-3 py-2 text-xs"
    >
      <i class="pi pi-cog text-xl mb-1"></i>
      <span>Configuración</span>
    </a>

    <a
      routerLink="/home/scan"
      routerLinkActive="text-primary"
      class="flex flex-col items-center text-gray-500 no-underline px-3 py-2 text-xs"
    >
      <i class="pi pi-qrcode text-xl mb-1"></i>
      <span>Escanear QR</span>
    </a>

    <a
      routerLink="/home/kit-detail"
      class="flex flex-col items-center text-gray-500 no-underline px-3 py-2 text-xs"
    >
      <i class="pi pi-list text-xl mb-1"></i>
      <span>Kits Entregados</span>
    </a>
  </nav>
</div>
